//background colors
$bg-white: #FFFFFF;
$bg-header: #F8F9FC;
$blu: #2F55D4;
$bg-footer: #202942;
$footer-mail-bg: #27314F;
$bg-dev-tools: #3C4858;
$bg-plan-name: #E9EEFC;
//colore non presente nella palette
$bg-icons-soft: #E4E9F8;
$bg-sticker-soft: #E4E9F8;
$bg-icons-features: #EAEEFB;

//text colors
$text-heart: #E43F52;
$footer-border-subscribe: #283353;
$green-symbol: #2ECA8B;
$grey-text: #8492A6;
$grey-price-card: #ADB5BD;
$price-color: #000000;
$text-col-white: #FFFFFF;

//button colors
$dev-tool: #8492A6;

//border colors
$border-dev-tool: #ADB5BD;
//colore bordo non presente nella palette
$border-plan-name: #ADB5BD;
$border-col-white: #FFFFFF;
$input: #E9ECEF;