//background colors
$bg-white: #FFFFFF;
$blu: #2F55D4;
$bg-footer: #202942;
$footer-mail-bg: #27314F;
$bg-dev-tools: #3C4858;

//text colors
$text-heart: #E43F52;
$footer-border-subscribe: #283353;
$green-symbol: #2ECA8B;
$grey-text: #8492A6;

//button colors
$dev-tool: #8492A6;

//border colors
$border-dev-tool: #ADB5BD;